{
    "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["warn", { "singleQuote": true, "endOfLine":"auto", "printWidth": 150 }]
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint"
}